{% extends 'base.html' %}
{% block content %}
<!-- Banner -->
<div class="bg-dark" style="padding: 20px;">
    <div class="container">
        <div class="text-center text-white">
            {% if tipo_item == 'filme' %}
            <h1 style="font-weight:bolder; font-size: 50px;">Avaliação do Filme '{{avaliacao.filme.titulo}}'</h1>
            {% elif tipo_item == 'livro' %}
            <h1 style="font-weight:bolder; font-size: 50px;">Avaliação do Livro '{{avaliacao.livro.titulo}}'</h1>
            {% elif tipo_item == 'serie' %}
            <h1 style="font-weight:bolder; font-size: 50px;">Avaliação da Série '{{avaliacao.serie.titulo}}'</h1>
            {% endif %}
            <p>Avaliação feita por <a href="{% url 'usuario' pk=avaliacao.user_id.pk %}" style="color: white;">{{avaliacao.user_id.username}}</a></p>
        </div>
    </div>
</div>
<!-- Detalhes -->
<section>
    <div class="container px-4">
        <div class="row row-cols-2 justify-content-center">
            {% for avaliacao in avaliacoes %}
            {% include 'card_avaliacao.html' %}
            {% endfor %}
        </div>
    </div>
    <div id="novo_comentario" class="container px-4">
        <div class="row row-cols-2 justify-content-center">
            <form method="POST" action="{% url 'avaliacao' tipo_item=avaliacao.tipo pk=avaliacao.pk %}" class="cadastro_item_form">
                {% csrf_token %}
                {{form_comentario.as_p}}
                <input type="submit" name="comentar" class="btn btn-outline-dark" value="Comentar" style="background-color: rgb(139, 199, 18); margin-bottom: 25px; width: 100%;">
            </form>
        </div>
    </div>
</section>

<!-- Comentarios -->
<div class="bg-dark" style="padding: 20px; margin-top: 20px;">
    <div class="container">
        <div class="text-center text-white">
            <h1 style="font-weight:bolder; font-size: 30px;">Comentários</h1>
        </div>
    </div>
</div>
<section>
    <div class="container px-4">
        <div class="justify-content-center">
            {% for comentario in comentarios %}
            {% include 'card_comentario.html' %}
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
