<div class="col" style="margin: 10px;">
    <div class="card">
        <div class="card-body" style="padding: 15px; padding-top: 25px;">
            <div class="text-center">

            </div>
            <div style="padding: 10px 0px 0px 10px;">
                
                <p><span style="font-weight:bolder; font-size: 20px;">Comentario: </span>
                    {{comentario.comentario}}
                </p>
            </div>
            <div style="padding: 0px 0px 0px 10px; display: inline-flex;">
                <p>{{comentario.likecomentario_set.count}} Curtidas</p>
            </div>
            <div style="padding: 10px 0px 0px 20px; display: inline-flex;">
                <p>Comentário feito por <a href="{% url 'usuario' pk=comentario.user_id.pk %}">{{comentario.user_id.username}}</a></p>
            </div>
            <div style="padding: 10px 0px 0px 20px; display: inline-flex; float: right;">
                <form action="{% url 'avaliacao' tipo_item=avaliacao.tipo pk=avaliacao.id %}" method="POST">
                    {% csrf_token %}
                    <input type="text" value='1' name='session_comentario' style="display: none;">
                    <input type="number" value="{{comentario.id}}" name="id_comentario" style="display: none;">
                    {% if user in comentario.get_liked_users %}
                    <button type="submit" name="descurtir_comentario" class="btn btn-outline-red" style="margin-bottom: 5px;">Descurtir <i class="fa fa-thumbs-down"></i></button>
                    {% else %}
                    <button type="submit" name="curtir_comentario" class="btn btn-outline-green" style="margin-bottom: 5px;">Curtir <i class="fa fa-thumbs-up"></i></button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>