{% extends 'base.html' %}

{% block content %}
<!-- Banner -->
<div class="bg-dark" style="padding: 20px;">
    <div class="container">
        <div class="text-center text-white">
            <h1 style="font-weight:bolder; font-size: 50px;">{{item_name}}: {{item.titulo}}</h1>
            <a class="btn btn-outline-dark" href="{% url 'cadastrar_item' tipo_item=tipo_item %}" style="color: white; border-color: white;">Avaliar {{item_name}}</a>
            <a class="btn btn-outline-dark" href="{% url 'cadastrar_item' tipo_item=tipo_item %}" style="color: white; border-color: white;">Cadastrar Novo {{item_name}}</a>
        </div>
    </div>
</div>

{% endblock %}