{% extends 'cadastro_base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %}Cadastrar{% endblock %}
{% block content %}
<div class="wrapper fadeInDown">
    <div id="formContent">
      <div class="fadeIn first">
        <h1 style="margin: 20px 0px;">Cadastrar</h1>
      </div>

      <form method="POST" action="{% url 'cadastro' %}">
        {% csrf_token %}
        <label for="id_username">Nome de Usuário:</label>
        <input type="text" name="username" maxlength="150" required id="id_username"><br>
        
        <label for="id_email">E-mail:</label><br>
        <input type="email" name="email" maxlength="254" required id="id_email">

        <label for="id_first_name">Primeiro nome:</label>
        <input type="text" name="first_name" maxlength="150" required id="id_first_name">
        
        <label for="id_last_name">Último nome:</label>
        <input type="text" name="last_name" maxlength="150" required id="id_last_name">

        <label for="id_data_nascimento">Data de Nascimento:</label>
        <input type="date" name="data_nascimento" required id="id_data_nascimento"><br>

        <label for="id_estado">Estado:</label><br>
        {{form.estado}}<br>

        <label for="id_cidade">Cidade:</label><br>
        {{form.cidade}}<br>

        <label for="id_password1">Senha:</label><br>
        <input type="password" name="password1" required id="id_password1">

        <label for="id_password2">Confirmação de senha:</label>
        <input type="password" name="password2" required id="id_password2">

        <input type="submit" class="fadeIn fourth" value="Cadastrar-se">
      </form>

      <div id="formFooter">
        <a class="underlineHover" href="{% url 'login' %}">Voltar</a>
      </div>
  
    </div>
  </div>
{% endblock %}
