<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'index' %}">HiperFlix</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Amigos</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Biblioteca</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'itens' tipo_item='filme' %}">Filmes</a></li>
                        <li><a class="dropdown-item" href="{% url 'itens' tipo_item='livro' %}">Livros</a></li>
                        <li><a class="dropdown-item" href="{% url 'itens' tipo_item='serie' %}">Séries</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi-gear-fill" style="font-size: 30px;"></i></a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Minha Conta</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                        {% if user.is_superuser %}
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="#!">Validar Cadastros</a></li>
                            <li><a class="dropdown-item" href="#!">Relatórios</a></li>
                            <li><a class="dropdown-item" href="/admin">Admin</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>