{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- Banner -->
        <div class="bg-dark py-5">
            <div class="container">
                <div class="text-center text-white">
                    <h1 style="font-weight:bolder; font-size: 50px;">Home HiperFlix</h1>
                    <p>Recomende, avalie e cadastre filmes, séries e livros em nossa biblioteca.</p>
                </div>
            </div>
        </div>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row row-cols-2 row-cols-xl-4 justify-content-center">
                    
                </div>
            </div>
        </section>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
{% endblock %}
