{% extends 'base.html' %}

{% block content %}
<!-- Banner -->
<div class="bg-dark" style="padding: 20px;">
    <div class="container">
        <div class="text-center text-white">
            <h1 style="font-weight:bolder; font-size: 50px;">Relatórios</h1><br>
            <a id="btn-rel-media-amg" href="#MediaAmigos" class="btn btn-outline-dark" style="color: white; border-color: white;">Usuários Mais Conectados</a>
            <a id="btn-rel-conectados" href="#MaisConectados" class="btn btn-outline-dark" style="color: white; border-color: white;">Média de Amigos</a>
        </div>
    </div>
</div>
{% endblock %}