{% extends 'base.html' %}

{% block content %}
<!-- Banner -->
<div class="bg-dark" style="padding: 20px;">
    <div class="container">
        <div class="text-center text-white">
            <h1 style="font-weight:bolder; font-size: 50px;">Amigos ({{amigos.count}})</h1><br>
            <a class="btn btn-outline-dark" href="{% url 'pedidos_amizade' %}" style="color: white; border-color: white;">Ver Pedidos de Amizade</a>
        </div>
        <div class="row text-center text-white" style="padding-top: 20px;">
            <form method="GET" action="{% url 'amigos' %}">
                <label for="busca">Buscar Usuário: </label><br>
                <input type="text" name="busca" style="width: 60%;" {% if valor_busca %}value="{{valor_busca}}" {% endif %} style="display: flex;"/>
                <button class="btn btn-outline-dark" type="submit" name="buscar" style="color: white; border-color: white; padding: 0px 5px;"><i class="bi-search" style="font-size: 18px;"></i></button> 
            </form>
        </div>
    </div>
</div>

<section class="py-5">
    <div class="container px-4">
        <div class="row row-cols-2 row-cols-xl-4 justify-content-center">
            {% for amigo in amigos %}
            {% include 'card_usuario.html' %}
            {% endfor %}
        </div>
    </div>
</section>


{% endblock %}