{% extends 'base.html' %}

{% block content %}
<!-- Banner -->
<div class="bg-dark" style="padding: 20px;">
    <div class="container">
        <div class="text-center text-white">
            {% if usuario != user %}
            <h1 style="font-weight:bolder; font-size: 50px;">Usuário {{usuario.username}}</h1><br>
            {% else %}
            <h1 style="font-weight:bolder; font-size: 50px;">Minha Conta</h1><br>
            {% endif %}
            <a id="btn-avaliacoes" class="btn btn-outline-dark" style="color: white; border-color: white;">Avaliações</a>
            <a id="btn-todos_amigos" class="btn btn-outline-dark" style="color: white; border-color: white;">Amigos</a>
            <a id="btn-amigos_comum" class="btn btn-outline-dark" style="color: white; border-color: white;">Amigos em Comum</a>
        </div>
    </div>
</div>
<div style="margin: 10px auto; width: 70%;">
    <div class="card">
        <div class="card-body p-4">
            <div class="text-center">
                <h5 class="fw-bolder">{{usuario.username}}</h5>
            </div>
            <div style="padding-left: 10px;">
                <p class="fw-bolder">
                    Séries cadastradas: {{usuario.serie_set.all.count}}<br>
                    Filmes cadastrados: {{usuario.filme_set.all.count}}<br>
                    Livros cadastrados: {{usuario.livro_set.all.count}}<br>
                </p>
            </div>
            <div style="padding-left: 10px;">
                <p class="fw-bolder">
                    Amigos: {{usuario.amigos.all.count}}<br>
                    {% if usuario != user %}
                    Amigos em Comum: {{count_amigos_comum}}<br>
                    {% endif %}
                </p>
            </div>
        </div>
        {% if usuario != user %}
        <div class="card-footer pt-0 border-top-0 bg-transparent">
            <form action="{% url 'usuario' pk=usuario.id %}" method="POST">
                {% csrf_token %}
                <input type="number" value="{{usuario.id}}" name="id_usuario" style="display: none;">
                <div class="text-center">
                    {% if sao_amigos %}
                    <input type="submit" name="excluir_amigo" class="btn btn-outline-red" value="Excluir Amigo">
                    {% elif pedido_enviado %}
                    <a class="btn btn-outline-dark">Pedido de Amizade Enviado</a>
                    {% else %}
                    <input type="submit" name="adicionar_amigo" class="btn btn-outline-green" value="Adicionar Amigo">
                    {% endif %}
                    <a class="btn btn-outline-dark" href="{% url 'pedidos_amizade' %}">Ver Amigos em Comum</a>
                </div>
            </form>
        </div>
        {% endif %}
    </div>
</div>

<!-- Avaliações -->
<div id='div-avaliacoes' style="display: none;">
    <div class="bg-dark" style="padding: 20px;">
        <div class="container">
            <div class="text-center text-white">
                <h1 style="font-size: 40px;">Avaliações do Usuário</h1>
            </div>
        </div>
    </div>
</div>

<!-- Todos Amigos -->
<div id='div-todos_amigos' style="display: none;">
    <div class="bg-dark" style="padding: 20px;">
        <div class="container">
            <div class="text-center text-white">
                <h1 style="font-size: 40px;">Amigos do Usuário</h1>
            </div>
        </div>
    </div>
</div>


<!-- Amigos em Comum -->
<div id='div-amigos_comum' style="display: none;">
    <div class="bg-dark" style="padding: 20px;">
        <div class="container">
            <div class="text-center text-white">
                <h1 style="font-size: 40px;">Amigos em Comum</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}