{% extends 'base.html' %}

{% block content %}
<!-- Banner -->
<div class="bg-dark" style="padding: 20px;">
    <div class="container">
        <div class="text-center text-white">
            <h1 style="font-weight:bolder; font-size: 50px;">Pedidos de Amizade</h1><br>
            <a class="btn btn-outline-dark" href="{% url 'amigos' %}" style="color: white; border-color: white;">Meus Amigos</a>
        </div>
    </div>
</div>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row row-cols-2 row-cols-xl-4 justify-content-center">
            {% for pedido in pedidos %}
            <div class="col" style="margin: 10px;">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">{{pedido.user_enviado.username}}</h5>
                            <p class="fw-bolder">{{pedido.tipo}}</p>
                            <p>

                            </p>
                        </div>
                    </div>
                    <div class="card-footer pt-0 border-top-0 bg-transparent">
                        <form action="{% url 'pedidos_amizade' %}" method="POST">
                            {% csrf_token %}
                            <input type="number" value="{{pedido.id}}" name="id_pedido" style="display: none;">
                            <div class="text-center" style="padding: 5px;">
                                <a class="btn btn-outline-dark" href="{% url 'usuario' pk=pedido.user_enviado.pk %}" style="margin-bottom: 10px;">Vizualizar Usuario</a>
                                <input type="submit" name="aceitar_pedido" class="btn btn-outline-green" value="Adicionar Amigo" style="margin-bottom: 10px;"><br>
                                <input type="submit" name="recusar_pedido" class="btn btn-outline-red" value="Recusar Pedido">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}